.container{

     background-color:tomato;
     color:black;
     margin-left: 500px;
     margin-right: 500px;
     padding : 50px 40px 50px 50px;
     border-radius: 10%;

}
body{
     background-color:black;
}
.btn{
     background-color: greenyellow;
}